.posts-page-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.page-title {
  font-family: var(--font-family);
  margin-bottom: 2rem;
  text-align: center;
}

/* Customizing PrimeReact Paginator */
.p-dataview .p-paginator {
  background: transparent;
  border: none;
  margin-top: 1rem;
}
